extends ../layout

block head
  link(rel='stylesheet', href='/css/account.css')

block main
  h1.title= title

  form(method='post', action='/'+username).form
    div.body
      p.username.form-item
        input(type='text', name='username', value!=username, required='required')#username
        label(for='username') Username
      p.email.form-item
        input(type='email', name='email', value!=email, required='required')#email
        label(for='email') Email
      p.password.form-item
        input(type='text', name='password')#password
        label(for='password') New password
      p.password-re.password.form-item
        input(type='password', name='password-re')#password-re
        label(for='password-re') Re type new password

    ul.button-list
      li.button-item.save
        input(type='hidden', name='_method', value='put')
        button(type='submit', name='save').button.waves-effect Update
          i.mdi-content-save.left
      li.button-item.back
        a(href="/"+username).button.waves-effect Go back
          i.mdi-navigation-arrow-back.left

block script
  script(src='/js/account.js')