extends ../layout

block head
  link(rel='stylesheet', href='/css/account.css')

block main
  h1.title= title

  div.body
    table
      tbody
        tr.username
          th Username
          td #{username}
        tr.email
          th Email
          td #{email}
        tr.password
          th Password
          td ******

  ul.button-list
    li.button-item.edit
      a(href='/account/'+username).button.waves-effect Edit
        i.mdi-editor-mode-edit.left
    li.button-item.back
      a(href="/main").button.waves-effect Go back
        i.mdi-navigation-arrow-back.left

block script
  script(src='/js/account.js')
