//変数インクルード
@import 'core';

// Materialize
// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables
@import "components/variables";

// Reset
@import "components/normalize";

// Componentes
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
//@import "components/cards";
//@import "components/toast";
//@import "components/tabs";
//@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
//@import "components/collapsible";
//@import "components/materialbox";
@import "components/form";
//@import "components/table_of_contents";
//@import "components/sideNav";
//@import "components/preloader";
//@import "components/slider";
//@import "components/date_picker/default.scss";
//@import "components/date_picker/default.date.scss";
//@import "components/date_picker/default.time.scss";

// Compass
@import 'compass';
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name:
Note:


New Creation:	.
Last Change:	.


Created By		ysakmrkm

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	sub
10.	footer
11.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
//@include reset;
//compass
//@include reset-html5;
//オリジナル
//@include resethtml5;


/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
@include layout-tags;


/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
@include layout-container;

#container {
	min-height: 1px;
	height: 100%;
}

/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
@include common;


/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
@include layout-header;

#header {
	@extend .row;
	margin: 0;
}

.h-nav-bar {
	@include box-shadow(none);
	@extend .grey.lighten-1;
	overflow: hidden;
}

.nav {
	@extend .nav-wrapper;

	.nav-inner {
		@extend .col;
		@extend .s12;
	}
}

.logo {
	@extend .brand-logo;

	&:hover {
		text-decoration: none;
	}
}


/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
@include layout-content;

#content {
	@extend .row;
	height: calc(100% - #{$navbar-height-mobile});
	margin: 0;
}

@media #{$medium-and-up} {
	#content {
		height: calc(100% - #{$navbar-height});
	}
}


/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
@include layout-main;

#main {
	@extend .col;
	@extend .s12;
	position: relative;
	height: 100%;
	background: #fff;
}

main {
	height: 100%;
}

.form {
	height: 100%;
}

.form-item {
	@extend .input-field;
	margin: 0;
}

.title {
	#title {
		box-sizing: border-box;
		padding-right: calc(145px + .75rem);
		height: 5rem;
		font-size: 3rem;
	}

	label {
		top: 2rem;
	}
}

.body {
	@extend .row;
	margin-bottom: 20px;
	height: calc(100% - 5rem - 1px - 15px - 20px - 56px - 0.75rem);
}

.item-contents {
	@extend .col;
	@extend .s6;
	box-sizing: border-box;
	height: 100%;
}

textarea#markdown {
	@extend .materialize-textarea;
	height: 100%;
	border-right: 1px solid color('grey', 'base');
	resize: none;
}

#preview {
	overflow: scroll;

	> * {
		margin-top: 0;
	}
}

.button-list {
	@include pie-clearfix;
	margin-bottom: 0;
}

.button-item {
	float: right;
	line-height: 1;

	&.back {
		float: left;
	}
}

.button {
	@extend .btn-flat;
	@extend .btn-large;
	@extend .teal.lighten-2;
	@extend .waves-light;
	@extend .white-text;
	margin-bottom: 0;

	&:hover {
		@include box-shadow(none);
	}

	.back & {
		@extend .grey;
	}

	i {
		@extend .left;
	}
}

.share {
	position: absolute;
	top: calc((5rem - 54px) / 2);
	right: .75rem;

	p {
		margin: 0;
	}
}

.results {
	ul {
		margin: 0;
	}

	.func {
		text-align: right;
	}

	.button {
		height: 36px;
		line-height: 36px;
	}
}

.accounts {
	.account-list {
		@extend .collection;
	}

	.account-item {
		@extend .collection-item;
	}
}


/*----------------------------------------------------------------------
9.	#sub
----------------------------------------------------------------------*/
@include layout-sub;


/*----------------------------------------------------------------------
10.	#footer
----------------------------------------------------------------------*/
@include layout-footer;


/*----------------------------------------------------------------------
11.	ページ別個別設定
----------------------------------------------------------------------*/
