extends layout

block content
  h1= title
  p Welcome to #{title}

  if email
    p Welcome, #{email}.

    form(method='post', action='/logout')
      input(type='submit', value='Logout')
        
  else
    if error
      p= error
    else
      p What's your name?

      h2 add

      form(method='post', action='/add')
        input(type='email', name='email')
        input(type='password', name='password')
        input(type='submit', value='OK')

      h2 login

      form(method='post', action='/login')
        input(type='email', name='email')
        input(type='password', name='password')
        input(type='submit', value='OK')
