doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/index.css')

  body
    div#container
      div#content
        main
          article#main
            div.box
              div.box-inner
                ul.tabs
                  li.login.tab
                    a(href='#login') Login
                  li.signup.tab
                      a(href='#signup' class=(error !== undefined ? 'active' : '')) Sign up

                div(class=(error === undefined ? 'active' : '')).box-item#login
                  div.box-contents
                    section.contents-inner
                      h1.title Login

                      form(method='post', action='/login').form
                        ul.form-list
                          li.form-item
                            input(type='email', name='email', required='required')#login-email.input-item
                            label(for='login-email') Email
                          li.form-item
                            input(type='password', name='password', required='required')#login-password.input-item
                            label(for='login-password') Password

                        ul.button-list
                          li.button-item
                            button(type='submit', name='action').button.waves-effect Enter

                div(class=(error !== undefined ? 'active' : '')).box-item#signup
                  div.box-contents
                    section.contents-inner
                      h1.title Singn up

                      if error
                        p.error= error

                      form(method='post', action='/add').form
                        ul.form-list
                          li.form-item
                            input(type='email', name='email', required='required')#signup-email.input-item
                            label(for='signup-email') Email
                          li.form-item
                            input(type='password', name='password', required='required')#signup-password.input-item
                            label(for='signup-password') Password

                        ul.button-list
                          li.button-item
                            button(type='submit', name='action').button.waves-effect Enter

    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/js/materialize.min.js')
    script(src='js/index.js')
