extends layout

block head
  link(rel='stylesheet', href='/css/main.css')

block main
  section.list.box
    h1.box-title.title Documents

    if documents
      ul.doc-list
        each document, index in documents
          li.doc-item
            a(href='/files/'+document._id) #{document.title}
            a(href='/files/'+document._id+'/edit').edit.item-contents Edit
              i.mdi-editor-mode-edit
            a(href='#modal-delete'+index).delete.item-contents Delete
              i.mdi-action-delete
            
      each document, index in documents
        section(id='modal-delete'+index).modal
          div.modal-body
            h2.title Delete
              
            p Are you sure to delete 
              strong #{document.title}
              |  ?
            
          footer.modal-footer
            ul.button-list
              li.button-item.agree
                form(method='post', action='/files/'+document._id)
                  input(type='hidden', name='_method', value='delete')
                  button(type='submit', name='delete').button.waves-effect Agree
              li.button-item.disagree
                a.button.waves-effect Disagree
                
    else
      p Write a new document.

    p
      a(href='/files/new').button.waves-effect Write
        i.mdi-editor-mode-edit.left

block script
  script(src='js/main.js')
