extends layout

block content
  h1= title

  p Welcome #{username}

  if documents
    ul
      each document, index in documents
        li
          a(href='/files/'+document._id)= document.title
          a(href='/files/'+document._id+'/edit') [edit]
          form(method='post', action='/files/'+document._id)
            input(type='hidden', name='_method', value='delete')
            input(type='submit' value='remove')

  ul
    li
      a(href='/files/new/') new
