extends layout

block content
  h1= title

  if documents
    ul
      each document, index in documents
        li
          a(href='/files/'+document._id)= document.title
          a(href='/files/'+document._id+'/edit') [edit]

  ul
    li
      a(href='/files/new/') new
