extends ../layout

block content
  h1= title

  p edit
  
  form(method='post', action='/files/'+id)
    input(type='text' name='title' value=title)
    textarea#markdown.edit(rows='10', cols='30', name='document' oninput='this.editor.update()')= body

    div#preview

    input(type='hidden', name='_method', value='put')
    input(type='submit' value='update')

  script(src='../../javascripts/markdown.js')
  script
    :coffee
      Editor = (input, preview) ->
        @update = ->
          preview.innerHTML = markdown.toHTML(input.value);
          return

        input.editor = this

        @update()

      $ = (id) ->
        return document.getElementById(id)

      new Editor($("markdown"), $("preview"));

      return

  p
    a(href="/files/"+id) Go back

  form(method='post', action='/logout')
    input(type='submit', value='Logout')
