extends ../layout

block head
  link(rel='stylesheet', href='/css/show.css')

block main
  h1.title= docTitle

  div.body
    !{docBody}

  ul.button-list
    if status !== 'view'
      li.button-item.edit
        a(href="/files/#{id}/edit").button.waves-effect Edit
          i.mdi-editor-mode-edit.left
    li.button-item.back
      a(href="/main").button.waves-effect Go back
        i.mdi-navigation-arrow-back.left
